$blue_back: #99d1eb

$yellow: rgba(230,178,105, 1)

$blue: #99d1eb

//$yellow: rgba(236,202,99, 1)

$lightBlue: rgb(159, 209, 255)

$darkBlue: #80a7c4

$fadedBlue: #d4e3e5

$grey: #8a8888

$pink: #FF6F61