$blue_back: #99d1eb

$yellow: rgb(255, 208, 107)

$blue: #84d6ff

//$yellow: rgba(236,202,99, 1)

$green: #00A046

$lightBlue: rgb(159, 209, 255)

$darkBlue: #80a7c4

$fadedBlue: #e7efef

$grey: #7a7777

$pink: #f68a7e

$orange: #FFA900