$blue_back: #99d1eb

$yellow: rgb(241, 189, 115)

$blue: #99d1eb

//$yellow: rgba(236,202,99, 1)

$green: #00A046

$lightBlue: rgb(159, 209, 255)

$darkBlue: #80a7c4

$fadedBlue: #e7efef

$grey: #8a8888

$pink: #f18d82

$orange: #FFA900