@use 'src/colors' as colors

.container
  width: 100%

.wrapper
  width: 100%
  padding: 3vw

.basic_hr
  margin: 2vw 0 4vw
  width: 100%
  height: 1px
  border: none
  background: #9ee1e9

.form_wrapper
  width: 100%
  display: flex
  flex-direction: column
  padding: 3vw 0 3vw 2vw
  & > div:not(:last-child)
    margin-bottom: 5vw

.dataUpdate
  width: 80%
  border: 2px solid #5a869b
  padding: 3vw
  margin: 3vw auto 4vw
  text-align: center
  border-radius: 11px
  color: #fff7e0
  font-size: 1.2em
  background-color: rgba(154, 197, 208, 0.8)

.logOut_container
  margin-top: 10px
  & button
    padding: 0
    font-family: Satisfy, sans-serif
    color: #6695a4

@media (min-width: 768px)
  .container
    width: 45%
    height: fit-content
    min-height: fit-content
    margin: 0 auto
    border-radius: 8px

  .basic_hr
    margin: 15px 0 25px

  .wrapper
    padding: 15px 20px

  .whiteSpace
    width: 100%
    height: 0
    margin: 12px 0

  .form_wrapper
    padding: 0 0 0 15px
    & button
      margin: 0 auto 15px
      width: 65%
      font-size: 25px
    & > div:not(:last-child)
      margin-bottom: 17px

  .dataUpdate
    padding: 17px
    margin: 15px auto 15px
    transform: translateX(15px)

@media (min-width: 1024px)
  .form_wrapper
    & button
      width: 60%

  .dataUpdate
    width: 70%

@media (min-width: 1440px)
  .form_wrapper
    & button
      width: 40%

  .dataUpdate
    width: 50%