@use 'src/colors' as colors

.simple_container
  max-width: 100%
  background: #fff
  box-shadow: 1px 1px 8px 2px #b8b8b8
  border-radius: 4px
  position: relative

.wrapper
  width: 100%
  display: flex
  flex-direction: column
  padding: 3vw 3vw 2vw

.heartIcon
  cursor: pointer
  position: absolute
  top: 0
  right: 0
  margin: 1.5vw
  font-size: 3vh
  color: colors.$yellow
  background: #ffffff
  padding: .4vh
  border-radius: 2px

.img_container
  cursor: pointer
  height: 140px
  padding: .5vh .5vh 0 .5vh
  display: flex
  justify-content: center
  align-items: center
  & img
    border-radius: 3px
    max-height: 120px
    max-width: 100%
    object-fit: contain

.title
  cursor: pointer
  margin-bottom: 1vw
  color: #333
  text-align: left
  font-size: 4.2vw
  line-height: 4.8vw
  height: 9.6vw
  overflow: hidden

.rating
  width: 100%
  margin-bottom: 3vw
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  & > div
    margin-right: 1.8vw
  & > span
    transform: translateY(5%)
    display: flex
    color: colors.$darkBlue
    font-size: 100%
    line-height: 90%

.price
  text-align: left
  font-size: 6vw
  font-family: RobotoRegular, sans-serif
  margin-top: auto
  margin-left: .5vh
  margin-bottom: .1vh
  color: #221f1f

.currency
  font-size: 3vh

.basket_container
  width: 100%
  background: rgba(255, 255, 255, 0.6)
  position: relative
  & > div
    padding: 1.5vh

.shoppingCart_icon
  cursor: pointer
  position: absolute
  bottom: 0
  right: 0
  margin: 3vw 2.5vw
  font-size: 3vh
  color: colors.$pink
  background: #ffffff
  border-radius: 2px

.topBar
  width: 100%
  display: flex
  flex-direction: row
  justify-content: flex-start

.basket_img_container
  cursor: pointer
  width: 96px
  height: 96px
  margin-right: 15px
  display: flex
  justify-content: center
  & img
    height: 100%

.basket_title
  cursor: pointer
  width: 50%
  text-align: left
  font-size: 5vw
  margin-top: .2vh

.bottomBar
  width: 100%
  margin-top: 2vh
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.counter
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.counter_minus
  cursor: pointer
  font-size: 3.5vh
  color: #3a6980

.counter_disabled
  color: #8a8888

.counter_plus
  cursor: pointer
  font-size: 3.5vh
  color: #3a6980

.counter_input
  width: 56px
  height: 40px
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0
  //padding: 2.5vw 3vw
  padding: 0 14px
  margin: 0 15px
  text-align: center
  text-decoration: none
  background: none
  border-radius: 4px
  border: 1px solid #8a8888
  font-size: 18px

.basket_price
  font-family: RobotoMedium, sans-serif
  font-size: 6vw

@media (min-width: 678px)
  .img_container
    height: 170px
    padding: 0
    & img
      max-height: 150px

  .wrapper
    padding: 15px

  .heartIcon
    margin: 15px

  .title
    margin-bottom: 10px
    height: 40px
    font-size: 18px
    line-height: 20px

  .rating > div
    margin-right: 10px

  .price
    font-size: 30px

  .currency
    font-size: 27px

  .shoppingCart_icon
    margin: 20px 15px

  .basket_title
    font-size: 20px

  .basket_img_container
    margin-right: 30px

  .basket_price
    font-size: 25px