@use 'src/colors' as colors

.productCard_container
  max-width: 100%
  height: 100%
  background: #fff
  box-shadow: 1px 1px 8px 2px #b8b8b8
  border-radius: 4px
  position: relative

.wrapper
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  padding: 3vw 3vw 2vw

.heartIcon
  cursor: pointer
  position: absolute
  top: 0
  right: 0
  margin: 1.5vw
  font-size: 3vh
  color: colors.$yellow
  background: #ffffff
  padding: .4vh
  border-radius: 2px

.img_container
  cursor: pointer
  height: 140px
  padding: .5vh .5vh 0 .5vh
  display: flex
  justify-content: center
  align-items: center
  & img
    border-radius: 3px
    max-height: 120px
    max-width: 100%
    object-fit: contain

.title
  cursor: pointer
  margin-bottom: 1vw
  color: #333
  text-align: left
  font-size: 4.2vw
  line-height: 4.8vw
  height: 9.6vw
  overflow: hidden

.rating
  width: 100%
  margin-bottom: 3vw
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: flex-end
  & > div
    margin-right: 1.8vw


.rating_num
  display: flex
  color: colors.$darkBlue
  font-size: 12px
  line-height: 12px

.leave_rating
  cursor: pointer
  font-size: 12px
  line-height: 12px
  margin-bottom: 3vw
  color: colors.$darkBlue

.price_container
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  justify-self: flex-end
  align-self: flex-end
  margin-left: .5vh
  margin-bottom: .1vh
  & svg[aria-disabled="true"]
    color: #8c8787
    cursor: default

.price
  text-align: left
  font-size: 5vw
  height: fit-content
  font-family: RobotoRegular, sans-serif
  color: #221f1f

.currency
  font-size: 5vw

.basket_container
  width: 100%
  background: rgba(255, 255, 255, 0.6)
  position: relative
  & > div
    padding: 1.5vh

.shoppingCart_icon
  cursor: pointer
  font-size: 3vh
  color: colors.$pink
  background: #ffffff
  border-radius: 2px

.topBar
  width: 100%
  display: flex
  flex-direction: row
  justify-content: flex-start

.basket_img_container
  cursor: pointer
  width: 96px
  height: 96px
  margin-right: 15px
  display: flex
  justify-content: center
  & img
    height: 100%

.bottomBar
  width: 100%
  margin-top: 2vh
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.counter
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.counter_minus
  cursor: pointer
  font-size: 3.5vh
  color: #3a6980

.counter_disabled
  color: #8a8888

.counter_plus
  cursor: pointer
  font-size: 3.5vh
  color: #3a6980

.counter_input
  width: 56px
  height: 40px
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0
  padding: 0 14px
  margin: 0 15px
  text-align: center
  text-decoration: none
  background: none
  border-radius: 4px
  border: 1px solid #8a8888
  font-size: 18px

.basket_price
  font-family: RobotoMedium, sans-serif
  font-size: 6vw

.basket_title
  cursor: pointer
  width: fit-content
  text-align: left
  font-size: 5vw

.basket_main
  display: flex
  flex-direction: column
  width: 60%

.basket_sizes
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: flex-start
  height: 100%
  justify-content: flex-start
  & label
    padding: 2vw 2.5vw !important
    font-size: .8em !important
  & > div
    margin-top: 1.2vw
    margin-right: 1vw
    display: flex
    align-items: flex-end

@media (min-width: 425px)
  .rating_num, .leave_rating span
    font-size: 16px
    line-height: 16px

@media (min-width: 678px)
  .img_container
    height: 170px
    padding: 0
    & img
      max-height: 150px

  .wrapper
    padding: 15px

  .heartIcon
    margin: 15px

  .title
    margin-bottom: 10px
    height: 40px
    font-size: 18px
    line-height: 20px

  .rating > div
    margin-right: 10px

  .price
    font-size: 20px

  .currency
    font-size: 27px

  .basket_title
    font-size: 20px

  .basket_img_container
    margin-right: 30px

  .basket_price
    font-size: 25px

  .rating, .leave_rating
    margin-bottom: 10px

  .basket_sizes
    & > div
      margin-right: 10px
      margin-top: 10px
    & label
      font-size: 1.2em !important
      padding: 12px 18px !important

@media (min-width: 1024px)
  .price
    font-size: 25px

@media (min-width: 1440px)
  .price
    font-size: 27px

  .rating, .leave_rating
    margin-bottom: 15px

  .rating_num, .leave_rating span
    font-size: 19px
    line-height: 19px