@use 'src/colors.sass' as colors

.container
  width: 100%
  margin: 5vw 0 0
  padding: 0 3vw

.title
  width: 100%
  text-align: start
  font-family: RobotoRegular, sans-serif
  font-size: 6.5vw
  & span
    opacity: .4

.questions_container
  margin-top: 4vw
  width: 100%
  display: flex
  flex-direction: column
  align-items: flex-start

.noQuestions
  align-self: center
  margin: 1em 0
  font-weight: 500

.questions_title
  margin: 5vw 0
  width: 100%
  text-align: start
  font-size: 6vw

  & span
    font-family: RobotoRegular, sans-serif
    opacity: .4

.question_item
  width: 100%
  padding: 3vw 2.2vw 4vw
  border: 1px solid rgba(157, 180, 188, 0.4)
  border-radius: 6px
  &:not(:last-child)
    margin-bottom: 5vw

.question_topBar
  width: 100% !important
  display: flex
  flex-direction: column
  justify-content: flex-start !important
  align-items: flex-start

.question_userName
  margin-bottom: 1vw
  font-size: 4.5vw
  font-family: RobotoMedium, sans-serif
  color: #333

.question_date
  font-size: 3.5vw
  color: #9d9c9c

.question_text
  padding-left: 1vw
  margin-top: 2vw
  font-size: 4.2vw
  line-height: 5vw
  text-align: left

.answer_container
  width: 100%
  height: 100%

.show_wrapper
  margin-top: 3vw
  width: 100%
  display: flex
  flex-direction: row
  align-items: center
  & span
    font-size: 4.3vw
    color: colors.$darkBlue

.show_icon_wrapper
  width: 12%
  display: flex
  justify-content: center
  align-items: center

.show_icon
  color: colors.$darkBlue
  font-size: 4.4vw
  transition: 350ms

.rotate_show_icon
  transform: rotate(90deg)
  transform-origin: center

.answer_wrapper
  width: 100%
  padding-left: 5vw
  position: relative
  margin-left: 2vw
  margin-top: 2vw
  height: 100%
  display: flex
  flex-direction: row

.answer_line
  position: absolute
  left: 0
  top: 50%
  transform: translateY(-50%)
  height: 90%
  width: 2.5px
  margin: 0 2vw
  background-color: #8a8888
  border-radius: 20px

.showMore_container
  width: 100%
  display: flex
  justify-content: center

@media (min-width: 768px)
  .container
    width: 90%
    margin: 1.7em auto 1.5em
    padding: 1.4em 1.4em 0

  .title
    font-size: 2em

  .questions_container
    width: 96%
    margin: 2em auto 0

  .questions_title
    font-size: 2em
    margin: 0

  .question_item
    margin: 0 0 2em !important
    padding: .6em
    border-radius: 6px
    align-items: flex-start

  .question_item:last-child
    margin: 0

  .question_topBar
    padding: 0 .3em .1em

  .question_userName
    font-size: 19px
    margin-bottom: 1px

  .question_date
    font-size: 13px

  .rating_main
    padding: .7em .2em .4em

  .question_text
    margin-top: .5em
    padding: 0 .6em
    font-size: 1em
    line-height: 1.3em

  .show_wrapper
    width: fit-content
    margin-top: .5em
    & svg, & span
      cursor: pointer
      width: fit-content
      font-size: 1.2em

  .show_icon_wrapper
    width: fit-content
    margin-right: .6em

  .answer_container
    padding-left: 1.5em

  .answer_wrapper
    margin: .5em 0 0
    padding-left: 3em