@use "src/colors.sass" as colors

.container
  width: 100%

.wrapper
  width: 100%
  display: flex
  flex-direction: column
  align-items: center

.filler
  width: 100%

.product_topBar
  width: 100%
  display: flex
  flex-direction: column

.product_title_container
  padding: 5vw 3vw 0
  margin: 2vw 0 3vw

.product_title
  font-family: Satisfy, sans-serif
  font-size: 8vw
  line-height: 8vw
  margin-bottom: 5vw

.all_reviews
  width: 50%
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.review_number
  color: #333
  display: flex
  flex-direction: row
  align-items: center
  font-size: 4vw
  font-family: RobotoRegular, sans-serif

.nav_container
  width: 100%
  margin: 2vw 0 2vw
  left: 0
  background: rgba(103,186,207, 0.15)

.nav_list
  height: 100%
  padding: 3vw 1vw
  overflow-x: scroll
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  flex-wrap: nowrap
  scrollbar-base-color: rgba(1,1,1, 0)
  & ::-webkit-scrollbar
    background: none

.nav_item
  cursor: pointer
  width: 100%
  white-space: nowrap
  margin: 0 4vw

.nav_item_active
  color: colors.$pink
  transform: scale(1.06)

.main_hr, .recent_hr
  width: 100%
  border: none
  background: #d4e3e5
  height: 1px

.main_hr
  width: 95%
  margin: 3vw 0

.recent_hr
  width: 95%
  margin-bottom: 6vw
  margin-top: 2vw

.recently_container
  width: 100%
  padding: 0 3.5vw

@media (min-width: 768px)
  .wrapper
    padding: 0 2em
    margin: 0 auto

  .product_title_container
    margin: 2em 0 1em
    padding: 0

  .product_top
    margin: 1em 0 .5em

  .product_title
    font-size: 3em
    line-height: 1em
    margin-bottom: .2em

  .all_reviews
    justify-content: flex-start

  .review_number
    font-size: 1em
    margin-left: 1vw

  .nav_container
    margin: 1em 0 0

  .nav_list
    padding: 1em 3em
    justify-content: flex-start

  .nav_item
    width: fit-content
    font-size: 1.2em
    margin: 0
    &:not(:last-child)
      margin: 0 3em 0 0

@media (min-width: 1024px)
  .nav_list
    overflow-x: hidden

  .recent_hr
    margin: 1em 0 2em