@use "src/colors.sass" as colors

.container
  width: 100%

.filler
  width: 100%

.product_top
  width: 100%
  margin: 2vw 0 3vw

.product_title
  font-family: Satisfy, sans-serif
  font-size: 8vw
  line-height: 8vw
  margin-bottom: 5vw

.all_reviews
  width: 50%
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.review_number
  color: #333
  display: flex
  flex-direction: row
  align-items: center
  font-size: 4vw
  font-family: RobotoRegular, sans-serif

.nav_container
  width: 100vw
  margin: 2vw 0 2vw
  background: rgba(103,186,207, 0.15)

.nav_list
  height: 100%
  padding: 3vw 1vw
  overflow-x: scroll
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  flex-wrap: nowrap
  & ::-webkit-scrollbar
    background: none

.nav_item
  width: 100%
  white-space: nowrap
  margin: 0 4vw

.nav_item_active
  color: colors.$pink

.photo_slider_container
  width: 100%
  height: 80vw

.photo_wrapper
  width: 100%
  height: 80vw
  background: #fff
  display: flex
  justify-content: center
  align-items: center
  & img
    padding: 4vw
    height: 100%

.main_hr, .recent_hr
  width: 100%
  border: none
  background: #d4e3e5
  height: 1px
  margin: 2.3vw

.size_container
  margin-top: 1vw
  width: 100%
  display: flex
  flex-direction: column

.size_title
  margin-bottom: 5vw
  font-family: RobotoRegular, sans-serif
  color: colors.$grey
  font-size: 4.3vw

.sizes_items
  width: 90%
  display: flex
  flex-direction: row
  justify-content: space-between

.status_container
  width: 100%
  margin-top: 8vw
  margin-left: 6vw
  padding: 2vw 3vw
  display: flex
  justify-content: flex-start
  align-items: center
  border-radius: 4px
  background: #F4FAF6
  color: #00A046
  font-size: 4.2vw
  font-family: RobotoRegular, sans-serif
  & svg
    margin-right: 3vw

.action_container
  width: 100%
  margin-top: 3vw
  display: flex
  flex-direction: column
  justify-content: center
  padding: 4vw
  border: 1px solid #e5eeef
  border-radius: 8px

.action_top
  width: 100%
  padding: 0 2vw
  margin-top: 1vw
  margin-bottom: 4vw
  font-size: 6vw
  display: flex
  justify-content: space-between
  & svg
    color: colors.$pink

.features_container
  margin-top: 8vw
  margin-bottom: 6vw
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start

.title_container
  width: 100%
  margin-bottom: 5.5vw
  font-size: 5.5vw
  & span
    font-family: RobotoRegular, sans-serif

.features_first
  color: #333

.features_second
  color: #333
  opacity: .4

.features_table
  width: 80%
  padding-left: 1vw
  display: flex
  flex-direction: row
  justify-content: space-between
  font-size: 4.1vw
  font-family: RobotoRegular, sans-serif
  color: #333
  & ul
    display: flex
    flex-direction: column
    justify-content: flex-start
    list-style: none
  & li:not(:last-child)
    margin-bottom: 5vw

.description_container
  margin-top: 4.5vw
  margin-bottom: 3vw

.description_text
  width: 97%
  margin: 0 auto
  padding: .5vw
  font-size: 4.6vw
  line-height: 5.5vw
  color: #373636

.recent_hr
  margin-bottom: 6vw