.product_top
  width: 100%
  margin: 2vw 0 3vw

.product_title
  font-family: Satisfy, sans-serif
  font-size: 8vw
  line-height: 8vw
  margin-bottom: 5vw

.all_reviews
  width: 50%
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.review_number
  color: #333
  display: flex
  flex-direction: row
  align-items: center
  font-size: 4vw
  font-family: RobotoRegular, sans-serif

.photo_slider_container
  width: 100%
  height: 50vw

.photo_wrapper
  width: 100%
  height: 50vw
  background: #fff
  & img
    padding: 4vw
    height: 100%