.closeIcon
  position: fixed
  right: 0
  top: 0
  margin: 19px 25px
  color: #131313
  font-size: 3rem
  cursor: pointer
  z-index: 1002

.container
  z-index: 1001
  position: fixed
  overflow-x: scroll
  right: 0
  left: 0
  top: 20%
  bottom: 20%

.slider_container
  position: relative
  width: 100vw
  height: 100%

.window
  overflow: hidden
  margin: 0 auto
  height: 100%
  width: 100vw

.slider_item
  min-width: 100%
  max-width: 100%
  height: 100%
  padding: 0 6%
  display: flex
  justify-content: center
  align-items: center
  & img
    max-height: 100%
    max-width: 100%
    object-fit: contain

.btn_prev, .btn_next
  cursor: pointer
  position: absolute
  top: 30%
  bottom: 30%
  margin: 0 7px
  display: flex
  align-items: center
  justify-content: center
  & img
    height: 26px
    width: fit-content

.btn_prev
  left: 0
  transform: scaleX(-1)

.btn_next
  right: 0