@use 'src/colors.sass' as colors

.container
  font-family: RobotoRegular, sans-serif !important
  width: 98%
  max-width: 1028px
  &:not(:last-child)
    margin-bottom: 6vw
  & hr
    width: 94%
    border: none
    height: 1px
    margin: 3vw auto
    padding: 0
    background: colors.$lightBlue

.topBar
  display: flex
  flex-direction: column

.bottomBar
  display: flex
  flex-direction: row
  justify-content: space-between

.status_wrapper
  margin-bottom: 2.5vw
  width: 100%
  display: flex
  flex-direction: column
  align-items: flex-start

.status_date, .sum_title
  color: colors.$grey
  font-size: 4.1vw
  margin-bottom: .5vw

.status_status, .sum_price
  padding-left: .5vw
  font-size: 4.35vw

.order_sum_wrapper
  display: flex
  flex-direction: column

.action_wrapper
  position: absolute
  top: 0
  right: 0
  cursor: pointer
  margin: 5vw
  color: #f85656
  font-size: 3.8vw

.data_wrapper
  color: #333
  margin: 4vw 0 6vw
  width: 100%
  display: flex
  flex-direction: column
  align-items: flex-start
  font-size: 4.4vw
  & span:not(:last-child)
    margin-bottom: .75vw
    padding-bottom: .75vw
    border-bottom: 1px solid #c7d6d6

@media (min-width: 768px)
  .container
    width: 85%
    &:not(:last-child)
      margin-bottom: 25px

  .topBar
    flex-direction: row
    width: 100%
    justify-content: space-between

  .status_wrapper, .order_sum_wrapper
    margin: 0 !important
    display: flex
    flex-direction: column

  .status_wrapper
    width: fit-content
    align-items: flex-start

  .order_sum_wrapper
    margin-top: 10px
    width: fit-content
    align-items: center

  .status_date, .sum_title
    font-size: 16px

  .status_status, .sum_price
    padding-left: 0
    font-size: 19px

  .data_wrapper
    width: fit-content
    font-size: 20px
    margin: 16px 15px 20px
    & span:not(:last-child)
      margin-bottom: 10px
      padding-bottom: 10px

  .action_wrapper
    position: relative
    top: auto
    right: auto
    color: #f85656
    margin: 15px 0 0
    font-size: 20px