.big_orange_button
  margin: 5vw auto 0 auto
  border: none
  background: #FF6F61
  border-radius: 1px
  font-family: RobotoRegular, sans-serif
  padding: 4.5vw 13.5vw
  color: aliceblue
  font-size: 4.1vw