.container
  width: 100%
  z-index: 100
  background: #ffffff
  min-height: 100vh
  position: relative

.close_icon
  position: absolute
  top: 0
  right: 0
  font-size: 4.5vh
  color: #333
  margin: 2.3vh 3.3vh

.wrapper
  width: 100%
  padding: 2vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.category_section
  padding: 2vh
  margin-top: 2vh
  border-bottom: 1px #d4e3e5 solid
  border-top: 1px #d4e3e5 solid
  align-self: flex-start
  width: 100%

.category_title
  font-family: RobotoMedium, sans-serif
  margin-bottom: 1.5vh

.category_list
  margin-left: 1vh
  list-style: none

.category_item
  color: #3e77aa
  margin: .7vh 0
  font-size: 2.6vh