.container
  position: relative
  width: 100%
  height: 100%
  display: flex
  flex-direction: row

.window
  height: 100%
  width: 100%
  transition: 350ms
  overflow: hidden
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

.btn_next, .btn_prev
  cursor: pointer
  position: absolute
  top: 50%
  height: 20%
  display: flex
  justify-content: center
  align-items: center
  & img
    height: 100%

.btn_next
  right: 0
  transform: translateY(-50%) translateX(30%)

.btn_prev
  left: 0
  transform: translateY(-50%) translateX(-30%) scaleX(-1)

.small_btn_prev
  height: 8%
  transform: translateY(-50%) translateX(0) scaleX(-1)

.small_btn_next
  height: 8%
  transform: translateY(-50%) translateX(0)

.recently_container
  width: 100%

.recently_title
  font-family: RobotoRegular, sans-serif
  margin-bottom: 3vw
  text-align: center

@media (min-width: 768px)
  .recently_title
    font-size: 35px
    margin-bottom: .5em