.container
  position: relative
  width: 100%
  display: flex
  flex-direction: row

.window
  height: 100%
  width: 100%
  overflow: auto
  scrollbar-base-color: rgba(1,1,1, 0)
  &::-webkit-scrollbar
    display: none

.all_pages_container
  width: 100%
  display: flex
  justify-content: space-between

.btn_next, .btn_prev
  position: absolute
  font-size: 10vw
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  color: rgba(103, 186, 207, .9)


.btn_next
  right: 0
  transform: translateX(-15%)

.btn_prev
  left: 0
  transform: translateX(15%)