.container
  width: 100%

.products_container
  width: 100%
  margin: 2.5vh 0
  padding: .5vh .5vh 3vh
  border-bottom: 1px solid #c6cac9
  border-top: 1px solid #c6cac9

.body
  display: flex
  flex-direction: column
  width: 100%

.hr
  width: 90% !important
  margin: 1.5vh auto
  border: none
  height: 1px
  background: #e8e8e8

.product_item
  width: 100%

.total_container
  margin: 2.5vh 0
  padding: 2vh
  width: 100%
  border: 1px #3e77aa solid
  border-radius: 8px
  background: rgba(212, 227, 229, .4)
  display: flex
  flex-direction: column
  justify-content: center
  & > button
    margin: 2vh 1vh 0 1vh

.total_amount
  width: 100%
  font-size: 3vh
  margin-top: .7vh
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.total_price
  color: #333
  font-family: RobotoMedium, sans-serif
  font-size: 7vw

.noProducts
  text-align: center

@media (min-width: 768px)
  .body
    width: 90%

  .products_container
    display: flex
    flex-direction: column
    align-items: center

  .total_container
    width: fit-content
    padding: 24px
    margin-right: 15px
    align-self: flex-end
    flex-direction: row
    justify-content: center
    & button
      margin: 0
      font-size: 30px

  .total_price
    font-size: 28px
    margin-right: 24px

@media (min-width: 1024px)
  .body
    width: 70%