.container
  background: url("../../img/home_overlay.png") repeat-y top
  margin: 0 auto
  display: flex
  flex-direction: column

.wrapper
  padding: 4vw
  width: 100%
  display: flex
  flex-direction: column

.preview
  width: 100%
  display: flex
  padding-top: 1vw
  flex-direction: column
  align-items: center
  justify-content: center

.preview_nav
  margin: 5vw
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 75%
  & a
    text-decoration: none
    font-family: Satisfy, sans-serif
    font-style: italic
    font-size: 7vw
    color: #2d2c2c
    margin-right: 4vw

.preview_img
  margin: 0 auto
  width: 87%

.btnCatalog
  margin: 5vw auto 0 auto
  border: none
  background: #FF6F61
  border-radius: 1px
  font-family: RobotoRegular, sans-serif
  padding: 4.5vw 13.5vw
  color: aliceblue
  font-size: 4.1vw

.manuscript
  margin: 12vw auto 5.7vw auto
  font-family: WaterBrush, sans-serif
  font-weight: 100
  font-size: 8vw


.notation
  display: flex
  flex-direction: column
  align-items: center

.note_title, .recently_title
  font-family: RobotoRegular, sans-serif
  margin-bottom: 3vw

.note_text
  font-family: RobotoRegular, sans-serif
  color: #565858
  text-align: center

.note_img
  max-width: 90%
  margin-top: 5vw
  & img
    width: 100%
    object-fit: contain

.recently
  margin-top: 10vw
  display: flex
  flex-direction: column
  align-items: center

.recently_slider
  width: 92vw

.recent_product
  height: 40vw
  background: #FF6F61
  text-align: center
  border: black 1px solid

.recents_btn
  margin-top: 2.5vh
  margin-bottom: 2vh
  font-family: RobotoMedium, sans-serif
  font-size: 2.7vh

.hr
  border: 0
  margin: 2vh
  background: #aebfc6
  width: 100%
  height: 1px