@use "src/colors.sass" as colors

.title_img
  width: 100%
  margin: 4.3vh auto
  & img
    width: 100%

.list
  margin-top: 4vh

.list_container
  list-style: none

.list_item
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  justify-content: center
  align-items: flex-start

.item_left
  width: 25%
  margin-top: 3vh
  display: flex
  justify-content: center
  & svg
    color: colors.$yellow
    display: block
    align-self: flex-start
    font-size: 3.5vh

.item_right
  width: 80%

.item_hr
  margin: 2.5vh
  width: 95%

.item_title
  color: #3e77aa
  font-family: RobotoRegular, sans-serif
  margin-bottom: 1.5vh

.item_text
  font-size: 2.2vh

.main_hr
  margin: 4vh
  width: 100%

.contact_container
  width: 100%
  padding: 2vh
  display: flex
  flex-direction: column
  align-items: flex-start

.contact_title
  color: #333
  align-self: center
  font-family: RobotoMedium, sans-serif
  margin: 0 0 2vh

.textUs_container
  margin-top: 1vh
  display: flex
  flex-direction: column

.textUs_title
  margin-bottom: 2vh
  color: #698ba4
  font-size: 3.9vh

.textUs_text
  color: #333
  font-family: RobotoMedium, sans-serif
  font-size: 2.8vh
  margin-left: .5vh

.contact_hr
  width: 60%
  height: 2px
  margin: 1.5vh 0